# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Visual Studio Code settings
.vscode/

# Ignore OS files
Thumbs.db
.DS_Store

# Ignore environment files
.env

# Ignore compiled files
*.exe
*.dll

# Ignore node modules (if any)
node_modules/
